

#logout {
    position: absolute; 
    right: 20px; 
    top: 10px; 
    background-color: #084349;
    color: #659AA6; 
    border: none; 
    padding: 8px 12px; 
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

#logout:hover {
    background-color: #030524; 
}
